body {
  background-color: #4d5451;
}

ol {
  list-style-position: inside;
}

/* Gradients from https://cssgradient.io/ */

.top-navigation {
  background:
    linear-gradient(
      to bottom,
      rgba(23,49,39,1) 0%,
      rgba(26,77,54,1) 70%,
      rgba(39,77,62,1) 100%);
  padding: 15px;
}

.mobile-nav {
  display: none;
  padding-left: 0;
  padding-right: 0;
}

.home-icon {
  height: 14px;
  width: 14px;
}

/* Border image gradient concept below from https://css-tricks.com/gradient-borders-in-css/ */

.left-main {
  background-image:
    linear-gradient(
      to bottom,
      #89b09f,
      rgba(0,0,0,0)
      );
  min-height: 100%;
  height: 100%;
}

.right-main {
  background-color: #4d5451;
}

.headshot {
  object-fit: none;
  object-position: right;
  opacity: 0;
}

.center-img {
  background-position: center center;
  background-repeat: no-repeat;
}

.gradient-overlay {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 30%, rgba(77,84,81,.8)80%, rgba(77,84,81,1) 100%)
}

.mobile-img {
  display: none;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-shout {
  max-width: 650px;
}

.projects {
  align-items: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.project {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 100%;
  max-width: 800px;
  max-height: 300px;
  margin: auto;
}

.project-text {
  padding: 8px;
  background-color: #4c7563;
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
}

.yearbook-photo {
  max-width: 300px;
  float: left;
}

.about-me {
  width: auto;
}

.color-change-animation {
  -webkit-animation:turnred 3s infinite alternate;
}

/* I found this approach to animating color change here: https://stackoverflow.com/questions/16782498/looping-animation-of-text-color-change-using-css3 */

@-webkit-keyframes turnred {
  0% {
    color: white;
  }

  60% {
    color: white;
  }

  100% {
    color: red;
  }
}

.music-players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 35px;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  min-height: 100%;
}

.music-players iframe {
  margin: 10px, 10px;
  margin-bottom: 15px;
  border: 0;
  width: 100%;
  max-width: 550px;
}

.nav-cushion {
  padding-top: 40px;
}

.section-break {
  border: none;
  margin-top: 200px;
  margin-bottom: 60px;
  height: 8px;
  background-image:
    linear-gradient(
      to left,
      rgba(0,0,0,0) 10%,
      rgba(137, 176, 159,1) 50%,
      rgba(0,0,0,0) 90%
      );
}

.break-pipe {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .nav-link {
    padding: 5px;
    font-size: 12px;
  }

  .break-pipe {
    display: inline;
  }
}

@media (max-width: 768px) {

  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .project-text {
    display: block;
    background-color: #4d5451;
  }

  .project-img {
    display: block;
  }

  .project {
    grid-template-columns: 1fr;
    max-height: 100%;
  }

  .yearbook-photo {
    float: right;
    display: none;
  }

  .music-players {
    display: block;
  }

  .mobile-img {
    display: block;
  }

  .headshot {
    width: 100%;
  }

}

@media (max-width: 1210px) {

  .main-shout {
    width: 80%;
  }

  .project-grid {
    display: block;
  }

  .project {
    margin-bottom: 20px;
  }

}

@media (max-width: 1500px) {

  .left-main {
    border-right: 10px solid;
    border-image:
      linear-gradient(
        to bottom,
        #89b09f,
        rgba(0,0,0,0)
        )1 100%;
  }

}
